@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
html{
    width:100%;
    height:100%;
}
body{
    margin:0 0;
    width:100%;
    height:100%;
}
.header{
    width:100%;
    height:5%;
    background-color: #F9F9F9;
    color: #49BEAA;
}
.header>div{
    padding: 10px 0px 0px 100px;
    text-align:left;
    font-weight: 550;
    font-size: 22px;
}
.container{
    display: flex;
    width:100%;
    height:100%;
}
.item1 {
    width: 18%;
    background-color: #feffff;
    padding: 10px 10px 10px 10px;
    border-right: 1px #eee solid;
}
.item1-border,.item2-border {
    height: 100%;
}
.item2-border{
}
.item2{
    width:82%;
    background-color: #feffff;
    margin: 50px 50px 50px 50px
}
.item3{
    position: absolute;
    right:50px;
}
.item3>span{
    box-sizing:content-box;
    display:inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: #f9f9f9;
    padding-top: 5px;
}
.venues-container{
    width:100%;
    height:7%;
    background-color: snow;
}
.author-container,.keyword-container{
    width:100%;
    height:45%;
    background-color: snow;
}
.venues-head,.author-head,.keyword-head{
    /*visibility: visible;*/
    height:30px;
    width: 100%;
    background-color: #F9F9F9;
    font-size: 25px;
    text-align:left;
    font-weight: 350;
    color: black;
    border-bottom: 1px solid black;
}
.venues-body{
    padding-top: 5px;
    width: 100%;
    height:200px;
    background-color: white;
}
.ven_body_container,.key_body_container,.aut_body_container{
    background-color: #DDDDDD;
}
.author-body{
    background-color: white;
}
.keyword-body{
    background-color: white;
}
.author-body,.keyword-body{
    width: 100%;
    height: 210px;

    overflow-y:scroll;
    overflow-x:hidden;
}
.text-box{
    box-sizing:content-box;
    display:inline-block;
    padding-right:12px;
    margin:1px;

}

.text-box:hover{
     background-color: #98dafc;
 }
.text-style{
    color:black;
    font-size:17px;
    font-weight: 200;
}

.num-style{

    /*vertical-align: sub;*/
    font-size:8pt;


    top:2px;
    left:1px;
    position:relative;
    color: black;
}
.svg{
    height: 100%;
    width: 100%;
    background-color: #feffff;
}
/*::-webkit-scrollbar {*/
    /*width: 30px;*/
    /*height: 400px;*/
/*}*/
.content{
    transform: translate(0,30px);
}

.yearText {
    font-family: Fantasy;
    fill:#808080;
    opacity:0.5;
    font-size:25px;
    letter-spacing:1px;
    text-shadow: #98dafc 2px 2px 4px;
}
.year-bar>line{
    stroke: #828080;
    stroke-width: 2.5px;
    stroke-dasharray:0.5,4;
    stroke-linecap:round;
    stroke-opacity: 0.4;
}
.line-year > path{
    stroke-width: 2px;
    fill: cornflowerblue;
}
.group-path{
    stroke:black;
    stroke-width: 1.5px;
    fill: aquamarine;
    stroke-opacity: 0.4;

}
circle{
    fill: black;
    opacity: 0.1;
}
circle:hover{
    fill: yellow;
    opacity: 1;
}

.arc path {
    stroke: #fff;
}

img{  max-width: 100%; max-height: 100%; }

.out{
    width: 450px;
    height:260px;
    background-color: #828080;
    border: 3px solid white;
    border-radius: 5px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0 0 9px 2px black;
}
.img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.top{
    width: 100%;
    height:13%;
    background-color: snow;
}
.figs{
    float: left;
    width: 250px;
    height:10%;
    background-color: snow;
    text-align: center;

    font-size: 8px;
    font-family:"Lato", sans-serif;
}
.left{
    float: left;
    width: 250px;
    height:77%;
    background-color: snow;
    text-align: center;
    position: relative;
    border-top: 1px solid #dddddd;
}
.right{
    float: right;
    width: 192px;
    height:87%;
    background-color: snow;
    padding-left: 5px;
    padding-right: 2px;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    vertical-align: middle;


display:flex;justify-content:center;align-items:center;
}

.t{
    font-size: 12px;
    font-family:"Lato", sans-serif;
    padding: 2px;
}
.t strong{

    font-size: 14px;
    font-weight: 900;
}
.t p{
    color: dodgerblue;
    padding: 0;
    margin: 0.5px auto 0.5px auto;
    float:right;
    background-color: #dddddd;
}
.t div {
}
.t span{
    color: dodgerblue;
    float:right;
    padding-right: 50px;
}
.title{

    font-size: 14px;
    color: dodgerblue;
    text-align: center;
    padding: 0 2px auto 2px;
    padding-top: 0;
    /*padding-top: 2px;*/

    color: dodgerblue;
    text-align: center;
    padding: auto 2px auto 2px;

}
.title strong{
    color:black;
}
.contain-t{

    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 0; left: 250px; bottom: 0; right: 0;*/
    /*background: red;*/


}
.gV,.gA,.gK{
    border-bottom: 5px #ddd solid;
    border-radius: 0 0 5px 5px;
}
.gV:hover,.gA:hover,.gK:hover{
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    border-bottom: 5px #ddd solid;
}
.gV:visited,.gA:visited,.gK:visited{
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    border-bottom: 5px #49BEAA solid;
}
.group{
    margin-right: 4px;
    border-bottom: 5px #ddd solid;
    border-radius: 0 0 5px 5px;
}
.group input{
    width: 80%;
    border: 0;
    height: 80%;
    font-size: 17px;
}

/*group name*/

.group-name{
    font-family: Fantasy;
    fill:#808080;
    opacity:0.8;
    font-size:20px;
    text-shadow: #98dafc 2px 2px 4px;
}
.tag_occurrence {
    font-size: 9pt;
    float: right;
    position: relative;
    height: 0px;
    top: -4px;
    left: -1px;
}
.button{
    border: 1px solid silver;
    margin: 12px 5px;
    border-radius: 5px;
    background: #EEEEEE;
    color: #666666;
    cursor: pointer;
    min-width: 15px;
    height: 15px;
    font-size: 9pt;
    text-align: center;
    display: inline-block;
    padding: 0px;
}
#sys-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000;
    background-color: hsla(0,0%,100%,1);
    opacity: 1
}
#sys-loading.finished {
    opacity: 0
}
#sys-loading .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px auto auto -15px;
    font-size: 10px
}

#sys-loading .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

#sys-loading .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

#sys-loading .spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

#sys-loading .spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes stretchdelay {
    0%,40%,to {
        -webkit-transform: scaleY(.6);
        transform: scaleY(.6)
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes stretchdelay {
    0%,40%,to {
        transform: scaleY(.6);
        -webkit-transform: scaleY(.6)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}
@-webkit-keyframes finishanim {
    0% {
        opacity: 1
    }
    99% {
        opacity: 0
    }
    to {
        display: none;
    }
}
@-webkit-keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3); }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

@keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3); }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

.line-scale-pulse-out-rapid > div {
    background-color: #67CF22;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
    animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78); }
.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
    -webkit-animation-delay: 0.25s !important;
    animation-delay: 0.25s !important; }
.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
    -webkit-animation-delay: 0.5s !important;
    animation-delay: 0.5s !important; }